#sideNav {
    display: none !important;
}

#rightCol {
    display: none !important;
}
#mainContainer [data-ftr] {
    display: none;
    opacity: 0;
}

.groupList {

}

#filterbook {
    z-index: 9999;
    position: fixed;
    top: 50px;
    left: 10px;
    max-width: 250px;
}

#filterbook label.label {
    font-weight: bold;
    border: 0.1em solid transparent;
    padding: 0.07em 0.4em;
    border-radius: 0.5em;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    line-height: 1.3333333333333333;
    display: inline-block;
    touch-action: manipulation;
    font-size: 10px;
    background-color: rgba(119, 119, 119, 1);
    border-color: rgba(103, 103, 103, 1);
    color: rgba(255, 255, 255, 1);
    margin: 2px;
}

#filterbook label.label.on {
    background-color: rgb(4, 114, 198);
    border-color: rgb(0, 86, 152);
}
