.leftContainer {
    left: "0 !important";
    top: "0 !important";
    position: "fixed !important";
    background-color: "grey !important";
}

#sideNav {
    display: none !important;
}

#rightCol {
    display: none !important;
}
